<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnaL.</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&family=Dancing+Script:wght@500&family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Protest+Revolution&family=Protest+Riot&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&family=Protest+Riot&display=swap" rel="stylesheet">

  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="40" class="color-bcg" id="bg-image">
    <!-- Body -->
    <div class="cover-container d-flex w-100 h-100 mx-auto  flex-column justify-content-center align-items-center bg-image"> 
      <main class="px-3 text-center">
        <h1 id="letters-color">Hello, I am Ana Lucero</h1> 
        <p class="lead" id="subtitle-color">A software engineer</p>
      </main>
    </div>

    <script>
      
    </script>
    <!-- End body -->
  

    <!-- Navegation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510" id="navbar">
      <div class="container">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav justify-content-between w-100">
                  <li class="nav-item">
                      <a href="#bg-image" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="#about-section" class="nav-link">About</a>
                  </li>
                  <li class="nav-item">
                      <a href="#resume-section" class="nav-link">Resume</a>
                  </li>
                  <li class="nav-item brand">
                    
                      <div class="brand-txt">
                          <a>Ana Lucero</a>
                          <br />
                          <a>Software Engineer</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a href="#portafolio-section" class="nav-link">Portfolio</a>
                  </li>
                  <li class="nav-item">
                      <a href="#skills-section" class="nav-link">Skills</a>
                  </li>
                  <li class="nav-item last-item">
                    <a href="#contact-section" class="nav-link">Contact</a>
                </li>
                
              </ul>
          </div>
      </div>
  </nav>
  
      <!-- End navbar -->


            <!-- History -->

            <div class="container-fluid col-xxl-8 px-4 py-5" id="about-section">
              <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="https://cdn.pixabay.com/photo/2024/02/02/18/48/woman-8548853_1280.png" alt="Free woman computer laptop illustration" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3" id="h1">Who am I?</h1>
                  <p class="lead" id="letter-style">Software Engineer recently graduated with strong knowledge in software 
                    development and a passion for problem-solving through technology. I hold an 
                    academic background in Software Engineering, coupled with practical skills in 
                    application development and maintenance. Highly motivated and team-oriented, 
                    I am eager to make meaningful contributions to challenging projects in a 
                    collaborative environment.</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 btn-bordered" id="colorbtn">Download My CV</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End history -->


            <!-- Divider -->
            <div class="divider"></div>
            <!-- End Divider -->

            <!-- Resume -->
            <div class="container-fluid col-xxl-8 px-4 py-5" id="resume-section">
              <h2 class="pb-2 border-bottom" id="h1">My Resume</h2>
              <div class="row g-4 py-5" id="letter-style">
                  <div class="col-lg-6">
                      <div class="d-flex align-items-start">
                          <div>
                              <h3 class="fs-2 text-body-emphasis">Expertise</h3>
                              <section class="resume-section">
                                <h4>Software Developer Internship</h4>
                                <p>GMV Innovating Solutions | February 2023 — July 2023</p>
                                <p><strong>Responsibilities:</strong></p>
                                <ul id="a-point">
                                  <li>Worked with:
                                    <ul id="a-second">
                                      <li>.NET MVC/WPF/WS</li>
                                      <li>.NET Framework (C#)</li>
                                      <li>Front-End technologies (HTML5, CSS3, Bootstrap, JavaScript, TypeScript, jQuery)</li>
                                      <li>Databases (SQL Server, MySQL)</li>
                                    </ul>
                                  </li>
                                  <li>Contributed to the development of the SAE System for the Autoritat de Transport Metropolità (ATM) of Barcelona.
                                  <li>Developed specific features for both the back-office and front-office systems, responsible for managing alerts in the ATM bus fleets.</li>
                                  <li>Tasks included configuring the user information system and historical reporting systems.</li>
                                   
                                  </li>
                                </ul>
                              </section>
                              
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-start" id="letter-style">
                      <section >
                        <h3>Education</h3>
                        <ul >
                          <li id="a-point"><strong>Bachelor of Science</strong></li>
                          <li>High School Paulo Freire | 2016 — 2018</li>
                          <li id="a-point"><strong>PCE Selectivity</strong></li>
                          <li>Luis Vives Academy | 2018 — 2019</li>
                          <li id="a-point"><strong>Software Engineering Degree</strong></li>
                          <li>The Polytechnical University of Madrid | 2019 — July 2023</li>
                        </ul>
                      </section>
                      
                    </div>
                </div>
                  <div class="col-lg-6 mt-3">
                      <div class="d-flex align-items-start" id="letter-style">
                          <div >
                              <h3>Languages</h3>
                              <ul class="mt-4">
                                <li><strong>English  </strong>Upper-Intermediate</li>
                                <li><strong>Spanish  </strong>Native</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  
                
                  </div>
              </div>
          </div>
          

            <!-- End Resume  -->

            <!-- Divider -->
            <div class="divider"></div>
            <!-- End Divider -->

            <!-- MyProyects -->
            <div class="container-fluid col-xxl-8 px-4 py-5" id="portafolio-section">
              <h2 class="pb-2 border-bottom" id="h1" >My Portafolio</h2>
          
              <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" id ="covers-portafolio" style="background-image: url('https://cdn.pixabay.com/photo/2019/08/19/07/45/corgi-4415649_1280.jpg'); ">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                      <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <img src="https://cdn.pixabay.com/photo/2019/08/19/07/45/corgi-4415649_1280.jpg" alt="Small dog" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                          <small>Italy</small>
                        </li>
                        <li class="d-flex align-items-center">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                          <small>1d</small>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
          
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" id ="covers-portafolio" style="background-image: url('https://cdn.pixabay.com/photo/2020/09/26/22/03/trees-5605176_1280.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                      <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <img src="https://cdn.pixabay.com/photo/2020/09/26/22/03/trees-5605176_1280.jpg" alt="Trees" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                          <small>Spain</small>
                        </li>
                        <li class="d-flex align-items-center">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                          <small>1d</small>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
          
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" id ="covers-portafolio" style="background-image: url('https://cdn.pixabay.com/photo/2015/10/09/00/55/lotus-978659_1280.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                      <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <img src="https://cdn.pixabay.com/photo/2015/10/09/00/55/lotus-978659_1280.jpg" alt="Lotus Flower" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                          <small>California</small>
                        </li>
                        <li class="d-flex align-items-center">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                          <small>1d</small>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of MyProyects -->


            <!-- Divider -->
            <div class="divider"></div>
            <!-- End Divider -->

            <!-- Skills -->
            <div class="container-fluid col-xxl-8 px-4 py-5" id="skills-section">
                      <div class="d-flex align-items-start" id="letter-style">
                          <div>
                              <h3 class="fs-2 text-body-emphasis"  id="h1">Skills</h3>
                              <br />
                              
                              <div class="text-center">
                                <ul class="list-inline justify-content-center">
                                
                                  <li class=" list-inline-item">
                                    <a href="https://docs.oracle.com/javase/8/docs/api/" title="Java">
                                      <img src="https://cdn-icons-png.flaticon.com/512/5968/5968282.png "  alt="Java icon"  class="circle">
                                      <span class="descripcion">Java</span>
                                    </a>
                                    </li>

                                  <li class=" list-inline-item">
                                  <a href="https://www.python.org/" title="Python">  
                                    <img src="https://cdn-icons-png.flaticon.com/512/3098/3098090.png "  alt="Python Logo"  class="circle">
                                    <span class="descripcion">Python</span>
                                  </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" title="CSharp">
                                      <img src="https://ih1.redbubble.net/image.841981346.7861/st,small,507x507-pad,600x600,f8f8f8.jpg"    class="circle"  alt="CSharp Logo">
                                      <span class="descripcion">CSharp</span>
                                    </a>
                                  </li>
                                  <li class=" list-inline-item">
                                    <a href="https://www.microsoft.com/es-es/sql-server/sql-server-2022" title="SQLserver">
                                      <img src="https://cdn-icons-png.flaticon.com/512/5968/5968364.png " alt="SQLserver Logo" class="circle">
                                      <span class="descripcion">SQLserver</span>
                                    </a>
                                  </li>
                                  

                                  <li class=" list-inline-item">
                                    <a href="https://nodejs.org/en/about" title="Node.js">
                                      <img src="https://cdn-icons-png.flaticon.com/512/919/919825.png "  alt="Node.js Logo"  class="circle">
                                      <span class="descripcion">Node.js</span>
                                    </a>
                                  </li>
                                  <li class=" list-inline-item">
                                    <a href="https://www.w3schools.com/html/" title="HTML5">
                                      <img src="https://cdn-icons-png.flaticon.com/512/1051/1051277.png "  alt="HTML5 Logo"  class="circle">
                                      <span class="descripcion">HTML5</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <br />
                              <div class="text-center">
                                <ul class="list-inline justify-content-center">
                                  <li class="list-inline-item">
                                    <a href="https://www.w3schools.com/w3css/default.asp" title="CSS3">
                                      <img  src="https://cdn-icons-png.flaticon.com/512/732/732190.png "  alt="CSS3 Logo"  class="circle">
                                      <span class="descripcion">CSS3</span>
                                    </a>
                                  </li>

                                  <li class="list-inline-item">
                                    <a href="https://react.dev/" title="React">
                                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png"  class="circle"  alt="React Logo">
                                      <span class="descripcion">React</span>
                                    </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href="https://dotnet.microsoft.com/es-es/" title=".NET">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/1024px-.NET_Core_Logo.svg.png"    class="circle"  alt=".Net Logo">
                                    <span class="descripcion">.NET</span>
                                  </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href="https://visualstudio.microsoft.com/" title="Visual Studio">
                                    <img src="   https://cdn-icons-png.flaticon.com/512/5968/5968389.png " alt="Visual Studio"  class="circle">
                                    <span class="descripcion">Visual Studio</span>
                                  </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href="https://www.postman.com/" title="Postman">
                                    <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/postman-icon.png"  alt="Postman icon" class="circle">
                                    <span class="descripcion">Postman</span>
                                  </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href="https://www.mongodb.com/" title="MongoDB">
                                    <img  src="https://cdn.icon-icons.com/icons2/2415/PNG/512/mongodb_original_wordmark_logo_icon_146425.png"  alt="Icon mongodb" class="circle">
                                    <span class="descripcion">MongoDB</span>
                                  </a>
                                  </li>
                                </ul>
                              </div>
                              <br />
                              <div class="text-center">
                                <ul class="list-inline justify-content-center">
                                  <li class=" list-inline-item">
                                    <a href="https://github.com/" title="GitHub">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png "  alt="GitHub Logo" class="circle">
                                    <span class="descripcion">GitHub</span>
                                  </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href="https://www.scrum.org/resources/what-scrum-module" title="Scrum methodology">
                                    <img src="   https://cdn-icons-png.flaticon.com/512/8553/8553391.png " alt="Scrum methodology" title="" class="circle">
                                    <span class="descripcion">Scrum methodology</span>
                                  </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href="https://medium.com/@raycad.seedotech/devops-methodology-and-process-dde388eb65bd" title="DevOps methodology">
                                    <img src="https://cdn-icons-png.flaticon.com/512/5680/5680036.png "  alt="DevOps methodology" title="" class="circle">
                                    <span class="descripcion">DevOps methodology</span>
                                  </a>
                                  </li>
                                </ul>
                              </div>

                          </div>
                      </div>
            </div>
            <!-- End skills -->

            <!-- Divider -->
            <div class="divider"></div>
            <!-- End Divider -->

            <!-- Contact -->
            <div class="container col-xl-10 col-xxl-8 px-4 py-5" id="contact-section">
              <div class="row align-items-center g-lg-5 py-5" id="container-contact">
                <div class="col-lg-7 text-center text-lg-start">
                  <h1 class="display-4 fw-bold lh-1 mb-3" id="contact-title">Contact me</h1>
                  <p class="col-lg-10 fs-4">
                    <ul>
                      <li>
                        <p id="contact-content" >Feel free to drop me a message using the form. I'll get back to you as soon as possible!</p>
                      </li>
                      <li> 
                        <a  class="nav-link " aria-current="page" id="contact-content">
                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                          </svg>
                          +34 637-904-604
                        </a>
                      </li>
                      <li>
                        <a  class="nav-link " aria-current="page" id="contact-content">
                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                          </svg>
                        anapau871@hotmail.com
                        </a>
                      </li>
                      
                      <ul class="nav col-md-4  list-unstyled d-flex">
                        <li>
                          <a class="nav-link"  href="https://github.com/AnaLucero28" id="contact-content">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img">
                                  <title>GitHub</title>
                                  <path fill="currentColor" fill-rule="evenodd" d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path>
                              </svg>
                          </a>
                        </li>
                        <li>
                          <a class="nav-link" href="https://www.linkedin.com/in/ana-lucero-cueva-3a115a122/" id="contact-content">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                              </svg>
                          </a>
                        </li>
                        
                      </ul>
                      <li>
                        <img src= "https://static.vecteezy.com/system/resources/previews/013/261/186/large_2x/girl-doing-yoga-and-meditating-yoga-love-freedom-happiness-health-free-png.png" class="d-block mx-lg-auto img-fluid" width="250" height="250" loading="lazy">
                      </li>
                    </ul>
                  </p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5" id="form-contact">
                  <form class="p-4 p-md-5 border rounded-3 bg-light">
                    <div class="mb-3">
                      <label for="floatingInput" class="form-label">Name</label>
                      <input type="text" class="form-control" id="floatingInput" placeholder="Ana Lucero" required>
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                    </div>
                    
                    <div class="form-group mb-3">
                      <label for="exampleFormControlTextarea1">Message</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  <div class="form-group mb-3">
                    <button class="w-100 btn btn-lg btn-bordered" id="colorbtn" type="submit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                      </svg>
                      Send Message</button>
                    
                  </div>
                   
                    <hr class="my-4">
                    
                  </form>
                </div>
              </div>
            </div>

            <!-- End Contact -->
                       <!-- Footer -->
                       <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                        <div class="col-md-4 d-flex align-items-center">
                          <a class="navbar-brand" id="footer-color" href="/"><strong>AnaL.</strong></a>
                          <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
                        </div>
                    
                        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                          <li class="ms-3">
                            <a class="navbar-brand"  id="footer-color" href="https://github.com/AnaLucero28">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img">
                                    <title>GitHub</title>
                                    <path fill="currentColor" fill-rule="evenodd" d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path>
                                </svg>
                            </a>
                          </li>
                          <li class="ms-3">
                            <a class="navbar-brand"  id="footer-color" href="https://www.linkedin.com/in/ana-lucero-cueva-3a115a122/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                                </svg>
                            </a>
                          </li>
                          
                        </ul>
                      </footer>
                    <!-- End footer-->


                    <script>
                      window.addEventListener('scroll', function() {
                        var navbar = document.getElementById('navbar');
                        var coverContainer = document.querySelector('.cover-container');
                        if (window.scrollY > coverContainer.offsetHeight) {
                          navbar.classList.add('fixed-top');
                        } else {
                          navbar.classList.remove('fixed-top');
                        }
                      });
                    </script>

      </body>
    </html>
    
 